name: Deploy Node.js Application to VPS
on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Deploy via SSH
              uses: appleboy/ssh-action@v1.0.3
              with:
                  host: ${{ secrets.VPS_HOST }}
                  username: ${{ secrets.VPS_USERNAME }} # can be hardcoded
                  key: ${{ secrets.VPS_SSH_KEY }}
                  script: |
                      cd /path/to/your/app || exit
                      git pull origin main
                      docker-compose down
                      docker-compose up -d --build
